header{
    height:60px;
}
a {
    text-decoration: none;
}
.navi{
    width: 100%;
    background:#FACC00;
    display: table;
}
.navi ul li a{
    background:#FACC00;
    width: 60px;
    height:60px;
    float: left;
    /*padding:50px 0;*/
    /*display: table-cell;*/
    color: #facc00;
    /*box-sizing: border-box;*/
    vertical-align:text-top;
    margin-top: 0px;
    text-align: center;

}

.navi ul li a:hover{
    background: #ffa500;
}

.fixed {
    position: fixed;
    /*top: 0;*/
    /*width: 100%;*/
    z-index: 10000;
}
.navi.fixed ul li a{padding: 0px 0;}


#header{
    width:450px;
    height:60px;
}


.icon{
    width: 50px;
    height: 50px;
    padding:0px;
    margin-top: 3px;
    z-index: 100000;

}

#search{
    width: 20px;
    height:20px;
    padding-top: 10px;
    align-items:right;
}

.container {
    width: 500px;
    margin: 0 auto;
    /*background: pink;*/
}

h1{
    text-align: left;
}

#inner { 
    margin:0 auto!important;
    width: 1234px;
}
/*------main-contents------*/
#mainWrap {
    float:left;
    width:950px;
    height:auto;
    border:dashed 1px #999;
    margin:10px 0px 10px 0px;
    color: #2BA085;
    margin-right: 30px;
}
.mainWrap-post-ul {
    width: 100%;
    margin: 1em 0 2em 0;
}
.mainWrap-post-li {
    width: 31%;
    height: 197px;
    margin-left: 1%;
    display: inline-block;
    text-align: center; 
    margin-top: 10px;
    border: 1px solid #333333;
    padding: 20px 0;
}
.mainWrap-post-li a {
    color: #333333;
}
.mainWrap-post-li img {
    border-radius: 10px;
    border: 5px solid #4d4d4d; 
}
.mainWrap-post-li-title {
    margin-bottom: 5px;
}
.mainWrap-post-li-user {
  
}
/*------sideWrap------*/
#sideWrap {
    float:left;
    width:240px;
    height:680px;
    border:dashed 1px #999;
    margin:10px 10px 10px 0px;
    color:red;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

#sideWrap img{
    padding: 5px;
}

.picup{
    
    width: 50px;
    height:50px;
}

form {
    width:1200px;
}
form div {
    padding: 10px 20px;
}
.text, textarea, .dropdown{
    border:1px solid #777;
    padding: 5px;
    color: #999;
    background: #fff;
    border-radius: 5px;
    /* Webkit */
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#eee),
            to(#fff)
    );
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #fff;
    /* Firefox */
    background: -moz-linear-gradient(
            top,
            #eee,
            #fff
    );
    -moz-border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #fff;
    /* IE */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
    zoom: 1;
}
.submit {
    border:1px solid #a5a5a5;
    padding: 4px 10px;
    color: #474747;
    cursor: pointer;
    background: #facc00;
    border-radius: 5px;
    /* Webkit */
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#facc00),
            to(#facc00)
    );
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #474747;
    /* Firefox */
    background: -moz-linear-gradient(
            top,
            #facc00,
            #caa400
    );
    -moz-border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #474747;
    /* IE */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#facc00,endColorstr=#facc00);
    zoom: 1;
}
.checkbox,.radio {
    z-index: -1;
    position: absolute;
}
.CheckBoxLabelClass {
    margin-right:20px;
    padding-left:22px;
}
.radiolabel {
    background: url("http://www.webcreatorbox.com/sample/images/radio.png") no-repeat top left;
    margin-right:20px;
    padding-left:22px;
}
.LabelSelected,.RadioSelected {
    background-position: bottom left;
}







footer {
    background:#FACC00;
    clear:both;
    height:30px;
    text-align: center;

}
